body{background-image: linear-gradient(to right, #510c9b 0%, #1449a3 100%);
    width: 99%;
    height: 100%;
}
*{box-sizing: border-box;}
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
/*font-family: 'Grechen Fuemen', cursive; */
@font-face {
    font-family: 'b-vahid';
    src:url('../resoure/font/b-vahid/B-Vahid-Bold_0.woff') format('woff'),
        url('../resoure/font/b-vahid/B-Vahid-Bold_0.woff2') format('woff2'),
        url('../resoure/font/b-vahid/B-Vahid-Bold_0.svg') format('svg'),
        url('../resoure/font/b-vahid/B-Vahid-Bold_0.eot'),
        url('../resoure/font/b-vahid/B-Vahid-Bold_0.eot?#iefix') format('embedded-opentype'),
        url('../resoure/font/b-vahid/B-Vahid-Bold_0.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.en 
{
    color: blanchedalmond;
    font-family: 'Grechen Fuemen', cursive;
    
}
.fa 
{
    color: blanchedalmond;
    font-family: "b-vahid";
    font-size: large;
}
.header
{
    margin: 5px auto 5px auto;
    text-align: center;
}
.note {direction: rtl; width: 50%; margin: 50px 0px 5px 250px;}
input {
    background-color: rgb(235, 235, 235);
    outline: none;
    border: none;
    border-radius: 15px;
    height: 40px;
    padding: 5px 10px 5px 20px;
    letter-spacing:0px;
    color: rgb(6, 22, 75);
    font-family: "b-vahid";
}
.btn1{
    margin: 5px 0px 0px 0px;
background-color: darkgreen;
height:40px;
border-radius: 5px;
padding: 5px 5px 5px 5px;
color: rgb(235, 235, 235);
font-family: 'Grechen Fuemen';
font-size: large;
border: none;
cursor: pointer;
width: 70px;
}
span{position: relative;}
.title 
{
    display: inline;
    color: rgb(235, 235, 235);
    position: absolute;
    top: -60px;
}
.ex1
{
    display: inline;
    color: rgb(235, 235, 235);
    position: absolute;
    top: -60px; 
}
.ex2 {
    display: block;
    color: rgb(235, 235, 235);}
#title{width:20% ;text-align: center;font-family: "b-vahid";}
#ex1 {width: 50%; position: relative; top: +0px; padding-right: 15px;}
#ex2 {width: 80%;position: relative; top: -15px; padding-right: 15px;}
/*--------------------- finish header */
/* start note book ----------------------*/



